<!-- <app-sales></app-sales> -->

<!-- Daily Activity -->
<mat-card class="w-100">
  <mat-card-content>
    <h4>Users</h4>
    <!-- <h4 class="example-spacer">New</h4> -->

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

        <!-- Id Column -->
        <div class="scrollit">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> #ID </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{element.id}}</p>
            </td>
          </ng-container>

          <!-- User_Details Column -->
          <ng-container matColumnDef="user_details">
            <th mat-header-cell *matHeaderCellDef> User Details </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.email }}</p>
              <p class="mb-0 fw-normal op-5">Society- {{ element.society_id }}</p>
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <span class="badge {{checkStatus(element.status)}} rounded-pill">{{element.status | titlecase}}</span>
            </td>
          </ng-container>

          <!-- User_Type Column -->
          <ng-container matColumnDef="user_type">
            <th mat-header-cell *matHeaderCellDef> UserType </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{element.user_type | titlecase}}</p>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell class="fw-medium" *matCellDef="let element">
              <a (click)="setUser(element.id)" matTooltip="Edit User">
                <mat-icon>mode_edit_outline</mat-icon>
              </a>&nbsp;
              <a (click)="setUser(element.id)" matTooltip="Delete User">
                <mat-icon>delete_outline</mat-icon>
              </a>
            </td>
          </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <!-- <mat-paginator #paginator [pageSize]="perPage" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true" [length]="totalPages"
    [pageIndex]="totalPages">
    </mat-paginator> -->
    <mat-paginator #paginator
      [pageSize]="perPage"
      [pageSizeOptions]="[5, 10, 25]"
      [showFirstLastButtons]="true"
      [length]="totalCount"
      [pageIndex]="currentPage"
      (page)="changePage($event)">
    </mat-paginator>

  </mat-card-content>
</mat-card>
