<div class="card">
  <div class="card-body">
    <mat-accordion>
      <mat-expansion-panel-header>
        <mat-panel-title> <h4 class="mb-32">Building</h4> </mat-panel-title>
        <mat-action-row>
          <button mat-button color="primary" (click)="onBack()">Back</button>
        </mat-action-row>
      </mat-expansion-panel-header>
    </mat-accordion>

    <form [formGroup]="buildingForm">
      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="R3 *">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location" placeholder="Punawale">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Select an Status</mat-label>
        <mat-select [(value)]="status" formControlName="status">
          <mat-option>Select Status</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="blocked">Blocked</mat-option>
          <mat-option value="closed">Closed</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="formName == 'new'; then new else edit"></div>

      <ng-template #new>
        <mat-form-field class="w-100 fs-15" appearance="outline">
          <mat-label>Select an Society</mat-label>
          <mat-select formControlName="society_id">
            <mat-option>Select Society</mat-option>
            <mat-option *ngFor="let society of societies;" [value]="society.id">{{society.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>

      <ng-template #edit>
        <mat-form-field class="w-100 fs-15" appearance="outline">
          <mat-label >Society</mat-label>
            <input matInput placeholder="1 *" readonly [value]="building.society.name" disabled="true">
        </mat-form-field>
      </ng-template>

      <button mat-button
        [disabled]="!buildingForm.valid"
        class="btn btn-info fw-normal"
        (click)="updateBuilding()"
        type="submit"
        *ngIf="formName == 'edit'">Update
      </button>
      <button mat-button class="btn btn-info fw-normal" [disabled]="!buildingForm.valid" (click)="createBuilding()" type="submit" *ngIf="formName == 'new'">Submit</button>
    </form>
  </div>
</div>
