<div class="card">
  <div class="card-body">
    <!-- <h4 class="mb-32">User Information</h4> -->
    <!-- <mat-accordion>
      <mat-expansion-panel-header>
        <mat-panel-title> <h4 class="mb-32">Login</h4> </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-accordion> -->

    <form  [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required placeholder="admin@test.com">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password">
      </mat-form-field>

      <button mat-button class="btn btn-success" type="submit" >Login</button>
    </form>
  </div>
</div>
<h2 *ngIf="activeUsers">Use following credentials for login password- 123456</h2>
<ng-container *ngFor="let user of activeUsers; let i=index">
  <h4>{{user}}</h4>
</ng-container>