<div class="card">
  <div class="card-body">

    <!-- <h4 class="mb-32">User Information</h4> -->
    <mat-accordion>
      <mat-expansion-panel-header>
        <mat-panel-title> <h4 class="mb-32">User Information</h4> </mat-panel-title>
        <mat-action-row>
          <button mat-button color="primary" (click)="onBack()">Back</button>
        </mat-action-row>
      </mat-expansion-panel-header>
    </mat-accordion>

    <form [formGroup]="userInformationForm" (ngSubmit)="saveUserInformation()">
      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="first_name" placeholder="Achyut *">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput type="text" formControlName="middle_name" placeholder="Dilip">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="last_name" placeholder="Kadam *">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Contact</mat-label>
        <input matInput type="text" formControlName="contact" placeholder="9876543210 *">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Birthdate - <mat-hint>MM/DD/YYYY</mat-hint></mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birth_date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Select an Gender</mat-label>
        <mat-select [(value)]="gender" formControlName="gender">
          <mat-option>Select Gender</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
        <!-- <p>Gender: {{gender}}</p> -->
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Select an Marital Status</mat-label>
        <mat-select [(value)]="maritial_status" formControlName="maritial_status">
          <mat-option>Select Marital Status</mat-option>
          <mat-option value="single">Single</mat-option>
          <mat-option value="married">Married</mat-option>
          <mat-option value="devorsed">Devorsed</mat-option>
        </mat-select>
        <!-- <p>Marital Status: {{marital_status}}</p> -->
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Aadhar Number</mat-label>
        <input matInput type="text" formControlName="adhaar_card_number" placeholder="1234 1123 0000 0000 *">
      </mat-form-field>

      <mat-form-field class="w-100 fs-15" appearance="outline">
        <mat-label>Pan Number</mat-label>
        <input matInput type="text" formControlName="pan_card_number" placeholder="QWERT0000R *">
      </mat-form-field>

      <section class="fs-16 mb-32">
        <mat-checkbox color="primary" formControlName="is_handicap" [checked]="userInformation.is_handicap" (click)="toggleHandicapText()" class="d-block mb-16">Is Handicap</mat-checkbox>
      </section>

      <mat-form-field class="w-100 fs-15" appearance="outline" *ngIf="showHandicapBox">
        <mat-label>Handicap Details</mat-label>
        <textarea matInput rows="6" placeholder="Write your message" formControlName="handicap_details"></textarea>
      </mat-form-field>

      <picture>
        <input type="file" class="file-upload" (change)="setAvatar($event)">
        <source media='(min-width:0px)' width="200px" height="200px"
        [srcset]="userInformation.avatar_url">
        <img mat-card-image src="" alt="No avatar">
      </picture><br><br>

      <button mat-button class="btn btn-info fw-normal" type="submit">
        Submit
      </button>

      <!-- <button mat-button [ngClass]="['!userInformationForm.valid' ? 'btn btn-light fw-normal' : 'btn btn-info fw-normal']" type="submit" [disabled]="!userInformationForm.valid">Submit</button> -->
    </form>
  </div>
</div>
